@mixin padding-mobile {
    padding-left: 3%;
    padding-right: 3%;
}

@mixin padding-tablet {
    padding-left: 8%;
    padding-right: 8%;
}

@mixin padding-desktop {
    padding-left: 12%;
    padding-right: 12%;
}