// title
$size-titlePrincipal-tablet: 37px;
$size-titlePricipal-desktop: 45px;
$size-titleSecundary-tablet: 23px;
$size-titleSecundary-desktop: 27px;
// subtitle
$size-subtitle-tablet: 17px;
$size-subtitle-desktop: 20px;
//text
$size-text-tablet: 14px;
$size-text-desktop: 17px;
// special
$size-fontBtn-tablet: 14px;
$size-fontBtn-desktop: 16px;
$size-spanProject-tablet: 22px;
$size-spanProject-desktop: 25px;
$size-btnProject-tablet: 15px;
$size-btnProject-desktop: 17px;