.proyect-container {
    border: solid 2px $color-secundary;
    width: 350px;
    height: 300px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

    img {
        width: 20px;
        height: 20px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h4 {
        @include font-subtitle;
        margin-top: 10px;
    }

    p {
        @include font-text;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    span {
        @include font-span;
        font-size: 13px;
    }
}



// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .proyect-container {
        width: 80%;
        margin-top: 5px;
        img {}
        h4 {}
        p {
        margin-bottom: 10px;
        }
        span {}
    }
}


// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {
    .proyect-container {
        width: 50%;
        margin-top: 5px;
        img {}
        h4 {}
        p {
        margin-bottom: 10px;
        }
        span {}
    }
}


// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {
    .proyect-container {
        width: 250px;
        height: 350px;
        img {}
        h4 {}
        p {
        }
        span {}
    }
}


// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {
    .proyect-container {
        width: 250px;
        height: 350px;
        img {}
        h4 {}
        p {
        }
        span {}
    }
}