.proyect-container {
    border: solid 2px $color-secundary;
    width: 350px;
    height: 300px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

    img {
        width: 20px;
        height: 20px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h4 {
        @include font-subtitle;
        margin-top: 10px;
    }

    p {
        @include font-text;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    span {
        @include font-span;
        font-size: 13px;
    }
}
