.aboutMe-section {
    background-color: $color-hover;
    @include padding-desktop;
    margin-top: -40px;
    padding-top: 65px;
    .aboutMe-container {
        .aboutMe-presentation {
            text-align: center;
            .aboutMe-img {
                width: 160px;
                height: 160px;
                border-radius: 100%;
                border: solid 2px $color-tertiary;
            }
            .aboutMe-title {
                @include font-titlePrins
            }
            .aboutMe-subtitle {
                @include font-subtitle;
                margin-top: 0px;
            }
        }
        .aboutMe-text {
            margin-top: 70px;
            padding-bottom: 50px;
            .aboutMe-parrafo {
                @include font-text;
                margin-top: 30px;
            }
        }
    }
}


// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .aboutMe-section {
        @include padding-mobile;
        .aboutMe-container {
            padding-top: 20px;
            .aboutMe-presentation {
                .aboutMe-img {
                }
                .aboutMe-title {
                }
                .aboutMe-subtitle {
                    font-size: 21px;
                }
            }
            .aboutMe-text {
                .aboutMe-parrafo {
                    margin-top: 20px;
                }
            }
        }
    }
}


// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {
    .aboutMe-section {
        @include padding-tablet;
        .aboutMe-container {
            padding-top: 20px;
            .aboutMe-presentation {
                .aboutMe-img {
                }
                .aboutMe-title {
                }
                .aboutMe-subtitle {
                    font-size: 21px;
                }
            }
            .aboutMe-text {
                .aboutMe-parrafo {
                    margin-top: 20px;
                }
            }
        }
    }
}


// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {
    .aboutMe-section {
        @include padding-desktop;
        .aboutMe-container {
            padding-top: 20px;
            .aboutMe-presentation {
                .aboutMe-img {
                }
                .aboutMe-title {
                }
                .aboutMe-subtitle {
                    font-size: 21px;
                }
            }
            .aboutMe-text {
                .aboutMe-parrafo {
                    margin-top: 20px;
                }
            }
        }
    }
}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {
    .aboutMe-section {
        @include padding-tablet;
        .aboutMe-container {
            padding-top: 20px;
            .aboutMe-presentation {
                .aboutMe-img {
                }
                .aboutMe-title {
                }
                .aboutMe-subtitle {
                    font-size: 21px;
                }
            }
            .aboutMe-text {
                .aboutMe-parrafo {
                    margin-top: 20px;
                }
            }
        }
    }
}