.contact-pageSection {
    background:
    linear-gradient(
      rgba(11, 30, 42, 16),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../public/img/fondo-pageContact.jpg);
    background-size: 100%;
    background-position: center;
    margin-top: -50px;
    padding-top: 100px;
    height: 750px;
    display: flex;
    justify-content: center;

    .contact-pageContainer {
        width: 500px;
        border: solid 1px $color-backgr;
        background-color: $color-backgr;

        .formulario {
            padding-top: 40px;
            margin-left: 40px;
            margin-right: 40px;

            h1 {
                @include font-titlePrins;
                text-align: center
            }

            p {
                @include font-subtitle;
                text-align: center
            }

            .name {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }

                #name {
                    display: block;
                    @include font-btnLetter;
                    width: 100%;
                    height: 30px;
                    background-color: $color-hover;
                    border: none;
                    border-radius: 3px;
                }
            }

            .email {

                label {}

                #email {}
            }

            .telephone {

                label {}

                #telephone {}
            }
            .website {
                label {}
                #website {}
            }
            .asunto {
                label {}
                #asunto {}
            }
            .message {
                label {}
                #label {}
            }
            #enviar {}
        }
    }
}