.contact-pageSection {
    background:
    linear-gradient(
      rgba(11, 30, 42, 16),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../public/img/fondo-pageContact.jpg);
    background-size: 100%;
    background-position: center;
    margin-top: -60px;
    padding-top: 100px;
    height: 800px;
    display: flex;
    justify-content: center;

    .contact-pageContainer {
        width: 500px;
        height: 730px;
        border: solid 1px $color-backgr;
        background-color: $color-backgr;

        .formulario {
            padding-top: 40px;
            margin-left: 40px;
            margin-right: 40px;

            h1 {
                @include font-titlePrins;
                text-align: center
            }

            p {
                @include font-subtitle;
                text-align: center
            }

            .name {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }

                #name {
                    @include font-btnLetter;
                    @include mxn-form;
                }
            }

            .email {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }

                #email {
                    @include font-btnLetter;
                    @include mxn-form;
                }
            }

            .telephone {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }

                #number {
                    @include font-btnLetter;
                    @include mxn-form;
                }
            }
            .website {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }

                #website {
                    @include font-btnLetter;
                    @include mxn-form;
                }
            }
            .asunto {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }
                #asunto {
                    @include font-btnLetter;
                    @include mxn-form;
                }
            }
            .message {
                margin-top: 20px;
                border: none;

                label {
                    display: block;
                    @include font-text;
                }
                #textarea {
                    @include font-btnLetter;
                    @include mxn-form;
                    height: 100px;
                }
            }
            #enviar {
                @include btn;
                @include font-btnLetter;
            &:hover {
                background-color: $color-hover;
            }
            }
        }
    }
}