.proyect-section {
    background-color: $color-backgr;
    padding-top: 100px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;

    h3 {
        @include font-titleSecund;
        margin-bottom: 35px;
    }
}