//media mobile
.home-miniMenu{
    @include padding-mobile;
    background-color: $color-hover;
    padding-top: 8px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    .span-home {
        @include font-sebadevs;
    }
    .adornment {
        width: 200px;
    }
    a {
        .img-menu {
            width: 18px;
            height: 18px;
            margin: 2%;
        }
    }
}



// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .home-miniMenu{
        .span-home {
            font-size: 16px;
        }
        .adornment {
            width: 10px;
        }
        a {
            .img-menu {}
        }
    }
}



// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {
    .home-miniMenu{
        .span-home {
            font-size: 20px;
        }
        .adornment {
            width: 60px;
        }
        a {
            .img-menu {}
        }
    }
}


// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {
    .home-miniMenu{
        .span-home {
            font-size: 20px;
        }
        .adornment {
            width: 150px;
        }
        a {
            .img-menu {}
        }
    }
}