.span-rrss {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 80px;
    margin-top: 350px;

    img {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .rrss-line {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $color-secundary;
    }
}

.span-mail {
    position: fixed;

    a {
        font-family: $font-normal;
        font-size: 15px;
        font-weight: 400;
        color: $color-secundary;
        letter-spacing: 3px;
        margin-top: 30px;
        margin-left: 1430px;
        writing-mode: vertical-rl;
    }
}
