.span-rrss {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 80px;
    margin-top: 300px;

    img {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .rrss-line {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $color-secundary;
    }
}

.span-mail {
    position: fixed;

    a {
        font-family: $font-normal;
        font-size: 15px;
        font-weight: 400;
        color: $color-secundary;
        letter-spacing: 3px;
        margin-top: 30px;
        margin-left: 1430px;
        writing-mode: vertical-rl;
    }
}


// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .span-rrss {
        margin-left: -30px;
        img {}
        .rrss-line {}
    }
    .span-mail {
        a {}
    }
}



// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {
    .span-rrss {
        margin-left: 20px;
        margin-top: 0px;
        img {}
        .rrss-line {}
    }
    .span-mail {
        a {}
    }
}


// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {
    .span-rrss {
        margin-left: 20px;
        margin-top: 300px;
        img {}
        .rrss-line {}
    }
    .span-mail {
        a {}
    }
}


    // Media Movil Rotate
    @media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {
        .span-rrss {
            margin-left: 20px;
            margin-top: 280px;
            img {}
            .rrss-line {}
        }
        .span-mail {
            a {}
        }
    }