.work-section {
    background-color: $color-backgr;
    padding-top: 100px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 150px;

    h2 {
        @include font-titlePrins;
        margin-bottom: 35px;
    }
}

