$color-primary:#ecf0f1; // title
$color-secundary: #979a9a; // parrafos subtitle
$color-tertiary: #3498db; // specials
$color-hover: #102F43; // hover
$color-backgr: #0b1e2a; // background
$color-footer:  #0c2431; // footer