@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap'); //'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap'); // 'Source Code Pro', monospace;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// base
$font-normal: 'Ubuntu', sans-serif;
$font-special: 'Source Code Pro', monospace;
$font-span: 'Press Start 2P', cursive;